<a href="https://colab.research.google.com/github/s18013/sotuken/blob/master/LightGBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from googleapiclient.discovery import build
import io, os
from googleapiclient.http import MediaIoBaseDownload
from google.colab import auth

auth.authenticate_user()

drive_service = build('drive', 'v3')
results = drive_service.files().list(
        q="name = 'kaggle.json'", fields="files(id)").execute()
kaggle_api_key = results.get('files', [])

filename = "/root/.kaggle/kaggle.json"
os.makedirs(os.path.dirname(filename), exist_ok=True)

request = drive_service.files().get_media(fileId=kaggle_api_key[0]['id'])
fh = io.FileIO(filename, 'wb')
downloader = MediaIoBaseDownload(fh, request)
done = False
while done is False:
    status, done = downloader.next_chunk()
    print("Download %d%%." % int(status.progress() * 100))
os.chmod(filename, 600)

!kaggle competitions download -c riiid-test-answer-prediction

Download 100%.
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.9 / client 1.5.4)
__init__.py: Skipping, found more recently modified local copy (use --force to force download)
competition.cpython-37m-x86_64-linux-gnu.so: Skipping, found more recently modified local copy (use --force to force download)
example_test.csv: Skipping, found more recently modified local copy (use --force to force download)
lectures.csv: Skipping, found more recently modified local copy (use --force to force download)
example_sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
train.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
questions.csv: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!pip install optuna

Requirement already satisfied: optuna in /usr/local/lib/python3.6/dist-packages (2.3.0)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (1.3.20)
Requirement already satisfied: cliff in /usr/local/lib/python3.6/dist-packages (from optuna) (3.5.0)
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (1.4.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (20.4)
Requirement already satisfied: cmaes>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (0.7.0)
Requirement already satisfied: colorlog in /usr/local/lib/python3.6/dist-packages (from optuna) (4.6.2)
Requirement already satisfied: alembic in /usr/local/lib/python3.6/dist-packages (from optuna) (1.4.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from optuna) (0.17.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from optuna) (1.18.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from optuna) (4.41.1)
Requirement already satisfied: pbr!=2.1.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (5.5.1)
Requirement already satisfied: PrettyTable<0.8,>=0.7.2 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (0.7.2)
Requirement already satisfied: stevedore>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (3.2.2)
Requirement already satisfied: cmd2!=0.8.3,>=0.8.0 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (1.4.0)
Requirement already satisfied: PyYAML>=3.12 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (3.13)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (1.15.0)
Requirement already satisfied: pyparsing>=2.1.0 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (2.4.7)
Requirement already satisfied: Mako in /usr/local/lib/python3.6/dist-packages (from alembic->optuna) (1.1.3)
Requirement already satisfied: python-editor>=0.3 in /usr/local/lib/python3.6/dist-packages (from alembic->optuna) (1.0.4)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from alembic->optuna) (2.8.1)
Requirement already satisfied: importlib-metadata>=1.7.0; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from stevedore>=2.0.1->cliff->optuna) (2.0.0)
Requirement already satisfied: pyperclip>=1.6 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (1.8.1)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (0.2.5)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (20.3.0)
Requirement already satisfied: colorama>=0.3.7 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.6/dist-packages (from Mako->alembic->optuna) (1.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=1.7.0; python_version < "3.8"->stevedore>=2.0.1->cliff->optuna) (3.4.0)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import optuna
# import optuna.integration.lightgbm as lgb
import lightgbm as lgb
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [ ]:
used_data_types_dict = {
    'timestamp': 'int64',
    'user_id': 'int32',
    'content_id': 'int16',
    'answered_correctly': 'int8',
    'prior_question_elapsed_time': 'float16',
    'prior_question_had_explanation': 'boolean'
}

train_df = pd.read_csv(
    'train.csv.zip',
    nrows=10**7*5,
    usecols=used_data_types_dict.keys(),
    dtype=used_data_types_dict
)

In [ ]:
features_df = train_df.iloc[:int(9 /10 * len(train_df))]
train_df = train_df.iloc[int(9 /10 * len(train_df)):]

In [ ]:
train_questions_only_df = features_df[features_df['answered_correctly']!=-1]
grouped_by_user_df = train_questions_only_df.groupby('user_id')
user_answers_df = grouped_by_user_df.agg({'answered_correctly': ['mean', 'count', 'std', 'median', 'skew']}).copy()
user_answers_df.columns = [
    'mean_user_accuracy', 
    'questions_answered', 
    'std_user_accuracy', 
    'median_user_accuracy', 
    'skew_user_accuracy'
]

user_answers_df

           mean_user_accuracy  ...  skew_user_accuracy
user_id                        ...
115                  0.695652  ...           -0.879359
124                  0.233333  ...            1.328338
2746                 0.578947  ...           -0.347892
5382                 0.672000  ...           -0.741648
8623                 0.642202  ...           -0.601619
...                       ...  ...                 ...
952225750            0.515625  ...           -0.064041
952226158            0.791879  ...           -1.438459
952228125            0.566667  ...           -0.283443
952238048            0.628205  ...           -0.541018
952238952            0.423077  ...            0.330798

[174008 rows x 5 columns]

In [ ]:
grouped_by_content_df = train_questions_only_df.groupby('content_id')
content_answers_df = grouped_by_content_df.agg({'answered_correctly': ['mean', 'count', 'std', 'median', 'skew']}).copy()
content_answers_df.columns = [
    'mean_accuracy', 
    'question_asked', 
    'std_accuracy', 
    'median_accuracy', 
    'skew_accuracy'
]

content_answers_df

            mean_accuracy  question_asked  ...  median_accuracy  skew_accuracy
content_id                                 ...
0                0.907120            3090  ...              1.0      -2.806526
1                0.886741            3311  ...              1.0      -2.441815
2                0.555795           19957  ...              1.0      -0.224599
3                0.776731           10194  ...              1.0      -1.329239
4                0.617197           14049  ...              1.0      -0.482273
...                   ...             ...  ...              ...            ...
13518            0.785340             382  ...              1.0      -1.395403
13519            0.587629             388  ...              1.0      -0.357409
13520            0.679083             349  ...              1.0      -0.770548
13521            0.841398             372  ...              1.0      -1.876689
13522            0.909333             375  ...              1.0      -2.862624

[13517 rows x 5 columns]

In [ ]:
del features_df
del grouped_by_user_df
del grouped_by_content_df

In [ ]:
features = [
    'mean_user_accuracy', 
    'questions_answered',
    'std_user_accuracy', 
    'median_user_accuracy',
    'skew_user_accuracy',
    'mean_accuracy', 
    'question_asked',
    'std_accuracy', 
    'median_accuracy',
    'prior_question_elapsed_time', 
    'prior_question_had_explanation',
    'skew_accuracy'
]

target = 'answered_correctly'

In [ ]:
train_df = train_df[train_df[target] != -1]

In [ ]:
train_df = train_df.merge(user_answers_df, how='left', on='user_id')
train_df = train_df.merge(content_answers_df, how='left', on='content_id')

In [ ]:
train_df['prior_question_had_explanation'] = train_df['prior_question_had_explanation'].fillna(value=False).astype(bool)
train_df = train_df.fillna(value=0.5)

In [ ]:
train_df = train_df[features + [target]]
train_df = train_df.replace([np.inf, -np.inf], np.nan)
train_df = train_df.fillna(0.5)

train_df

         mean_user_accuracy  ...  answered_correctly
0                  0.423077  ...                   0
1                  0.423077  ...                   1
2                  0.423077  ...                   1
3                  0.423077  ...                   0
4                  0.500000  ...                   1
...                     ...  ...                 ...
4903208            0.500000  ...                   0
4903209            0.500000  ...                   0
4903210            0.500000  ...                   0
4903211            0.500000  ...                   0
4903212            0.500000  ...                   1

[4903213 rows x 13 columns]

In [ ]:
train_df, test_df = train_test_split(train_df, random_state=666, test_size=0.2)

In [ ]:
def create_model(trial):
    num_leaves = trial.suggest_int("num_leaves", 2, 31)
    n_estimators = trial.suggest_int("n_estimators", 50, 300)
    max_depth = trial.suggest_int('max_depth', 3, 8)
    min_child_samples = trial.suggest_int('min_child_samples', 100, 1200)
    learning_rate = trial.suggest_uniform('learning_rate', 0.0001, 0.99)
    min_data_in_leaf = trial.suggest_int('min_data_in_leaf', 5, 90)
    bagging_fraction = trial.suggest_uniform('bagging_fraction', 0.0001, 1.0)
    feature_fraction = trial.suggest_uniform('feature_fraction', 0.0001, 1.0)
    
    model = LGBMClassifier(
        num_leaves=num_leaves,
        n_estimators=n_estimators, 
        max_depth=max_depth, 
        min_child_samples=min_child_samples, 
        min_data_in_leaf=min_data_in_leaf,
        learning_rate=learning_rate,
        feature_fraction=feature_fraction,
        random_state=666
    )
    
    return model

def objective(trial):
    model = create_model(trial)
    model.fit(train_df[features], train_df[target])
    score = roc_auc_score(test_df[target].values, model.predict_proba(test_df[features])[:,1])
    return score

# uncomment to use optuna
# study = optuna.create_study(direction="maximize", sampler=sampler)
# study.optimize(objective, n_trials=70)
# params = study.best_params
# params['random_state'] = 666

params = {
    'bagging_fraction': 0.5817242323514327,
    'feature_fraction': 0.6884588361650144,
    'learning_rate': 0.42887924851375825, 
    'max_depth': 6,
    'min_child_samples': 946, 
    'min_data_in_leaf': 47, 
    'n_estimators': 169,
    'num_leaves': 29,
    'random_state': 666
}

#study = optuna.create_study(direction="maximize")
#study.optimize(objective, n_trials=5)
model = LGBMClassifier(**params)
model.fit(train_df[features], train_df[target])
print('LGB score: ', roc_auc_score(test_df[target].values, model.predict_proba(test_df[features])[:,1]))

LGB score:  0.720623640972328

IndexError: ignored

In [ ]:
test_df[:30]

         mean_user_accuracy  ...  answered_correctly
885777                  0.5  ...                   1
1726837                 0.5  ...                   0
4889874                 0.5  ...                   1
4187376                 0.5  ...                   0
3569513                 0.5  ...                   1
498141                  0.5  ...                   1
601084                  0.5  ...                   1
4132260                 0.5  ...                   1
2381427                 0.5  ...                   1
3649921                 0.5  ...                   1
1050187                 0.5  ...                   1
3731791                 0.5  ...                   0
3391908                 0.5  ...                   0
3078225                 0.5  ...                   0
1887145                 0.5  ...                   1
4338621                 0.5  ...                   0
2048189                 0.5  ...                   1
4357080                 0.5  ...                   1
2232142                 0.5  ...                   1
1100986                 0.5  ...                   1
2950372                 0.5  ...                   0
2090916                 0.5  ...                   1
2436673                 0.5  ...                   0
1396105                 0.5  ...                   1
2628288                 0.5  ...                   1
926447                  0.5  ...                   1
2958995                 0.5  ...                   1
758687                  0.5  ...                   1
1911532                 0.5  ...                   0
2272440                 0.5  ...                   1

[30 rows x 13 columns]

In [ ]:
predicts = model.predict(test_df[features])
predicts[1:30]

array([1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 0], dtype=int8)

In [ ]:
test_df_ans = test_df['answered_correctly'][:50]
ans_predicts = test_df_ans.merge(predicts[:50], how='left', on='answered_correctly')

AttributeError: ignored

In [ ]:
model

In [ ]:
get_params_model = model.get_params(deep=True)
get_params_model

In [ ]:
objective = model.objective_
objective

In [ ]:
model

In [ ]:
print(model.best_score_)

In [ ]:
model.classes_

In [ ]:
model.evals_result_

In [ ]:
model.feature_importances_

In [ ]:
lgb.plot_importance(model)
plt.show()